test/
UVIS/Testing
__pycache__/
UVIS/__pycache__/
*.log
*.DS_Store
~                                                                                                                                               
~         
