UVIS/UIVISLib/GameWithShapes.py

UVIS/.DS_Store

.idea/
*.ipynb
test/
UVIS/Testing
__pycache__/
UVIS/__pycache__/
*.log
*.DS_Store
*.mp3
Data/FilteredVolumes/
UVIS/UIVISLib/Data/

UVIS/UIVISLib/GameResults/*

~                                                                                                                                               
~         
